{%extends "base.html"%}

{%block title%} Education {%endblock%}

{%block content%}
<div class="container text-center mt-3">
    <h1>{{user_data.name}} {{user_data.last_name}} developer</h1>
    <h4>My acadenic study</h4>
</div>

<!-- My formation -->
<br>
<!-- <h3>My academic training</h3> -->
<p>
    Since 2018 I have held roles within the organization, until in 2020 I began my studies at the American University of
    Paraguay. The path was full of challenges and constant learning, since it was necessary to maintain work, study and
    home, completing my degree in 2024, which was a very important achievement for me, which was a rewarding experience
    and I feel very proud of it, always motivated by family, friends, coworkers and of course my own determination.<br>

</p>



{%endblock%}