{%extends "base.html"%}

{%block title%} Experience {%endblock%}

{%block content%}
<div class="container text-center mt-3">
    <h1>{{user_data.name}} {{user_data.last_name}} developer</h1>
    <p>Welcome to my personal website</p>
</div>

<!-- Projects -->
<br>
<div class="container mt-3">
    <h2> Experience </h2>
    {%for proj in user_data.projects%}
    <div class="container">
        <h5>Project Title: {{proj.project}}</h5>
        <p>{{proj.description}}</p>
        <a class="btn btn-dark" href="{{proj.link}}" role="button">See Experience</a>

    </div>
    {%endfor%}
</div>

{%endblock%}