{%extends "base.html"%}

{%block title%} Home {%endblock%}

{%block content%}
<div class="container text-center mt-3">
    <h1>{{user_data.name}} {{user_data.last_name}} developer</h1>
    <h4>Welcome to my personal website</h4>
</div>
<!-- Who am I? -->
<br>
<div class="container text-left">

    <h2>Who am I?</h2>
    <p>
        A person who enjoys challenges and constant learning, being with people who are constantly innovating and doing
        interesting things. Software development is one of those fields where you meet all kinds of people who are
        constantly innovating, creating, improving, and everything else this technology sector requires.<br>
        In my free time, I enjoy spending time with family, reading books, and playing a little soccer with friends.
        Since 2018, I made my first foray into the sector, developing small automation applications in Python. The ease of
        this tool has allowed me to continue learning other tools, which are mentioned in another section.<br>
        I previously worked for the government at a major security agency. I retired with all the honors and recognition,
        but the time has come to do what I love, to the point that I am now developing my own projects and automation tools
        that allow me to advance in my own development.
    </p>
</div>
    


{%endblock%}
