<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus eum cumque dolore possimus iusto officiis consectetur ratione repellat in ipsam ea excepturi
        ducimus, molestias dolor architecto quos? Vitae, dolorum mollitia.
    </p>
    <h1>
        {{}}
    </h1>
</body>

</html>
